{% extends "base.html" %}

{% block title %}Pets{% endblock %}

{% block content %}
<h1 class="col-12">Pets</h1>
<div class="row">
{% for pet in pets %}
	<div class="col-3 mb-3 mt-3">
        <img src='{{ pet.photo_ur l}}' alt='{{ pet.name }} has no photo'>
		<a href="/{{ pet.id }}">
            <span>{{ pet.name }}</span> <b>is 
            {% if pet.available %}available{% endif %}
            {% if not pet.available %}not available{% endif %}</b> 
        </a>
	</div>
{% endfor %}
</div>

<div class="col-12">
<a href='/add' class='btn btn-primary' role='button'> Add a Pet </a>
</div>

{% endblock %}