{% extends "base.html" %}

{% block title %}{{pet.name}}{% endblock %}
{% block content %}
<h1>{{pet.name}}</h1>

<img src='{{pet.photo_url}}' alt='{{pet.name}} has no photo'>

<h2><b>Age:</b>{{pet.age}}</h2>
<h2><b>Species:</b>{{pet.species}}</h2>

<form action="/{{pet.id}}" id="edit-pet-form" method="POST">

    {{ form.hidden_tag() }}
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
    {% endfor %}
  
    <button type="submit">Submit</button>
  
  </form>

{% endblock %}

